strict-ssl=false
registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
proxy=null
https-proxy=null
phantomjs_cdnurl=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases.3rd-party/org/phantomjs/download/phantomjs/2.1.1
